$black: #555555;
$gray: #979797;
$gray-light: #dce4e2;
$white: #ffffff;
$green: #84aea3;
$green-light: #81aba0;
$yellow: #cea709;
$yellow-light: #fff3cd;
$orange: #ff7851;
$orange-light: #ffa085;
$braun: #cb9c80;
$blue: #7a92ce;
$blue-light: #6cc3d5;
$blue-light-disabled: #abbae0;
$red-hard: #721c24;
$red: #ff4d4f;
$red-light: #f68f91;
$purple: #8d7091;
$purple-light: #8e84a3;
